.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 0;
  margin-left: 0;
}

.footer__column-link:hover {
  opacity: 50%;
  transition: opacity 0.5s linear;
}